@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a, a:hover, a:visited{
    color: unset;
    text-decoration: none;
}

body, html{
    color: #ffffff;
    background-color: #000000;
}

header{
    height: 220px;
    background: linear-gradient(180deg, #102347 0%, #181818 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo_container img{
    width: 235px;
}

.logo_container h1{
    margin-top: 15px;
    font-size: 24px;
}

.logo_container p{
    font-size: 14px;
    font-weight: 300;
}

.cartão{
    background-color: #283142;
    border-radius: 10px;
    padding: 30px 10px;
}

.controle_de_largura{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

#vendas{
    padding: 40px 10px;
}

.cartão h2{
    font-family: 'Roboto', sans-serif;
    color: #676FFF;
    font-size: 24px;
    margin-bottom: 20px;
}

.entrada{
    width: 100%;
    height: 46px;
    border: 1px solid #384459;
    background-color: #1B2531;
    color: #9AAABE;
    padding: 0 20px;
    font-size: 18px;
    border-radius: 5px;
}

.container_da_entrada{
    margin-bottom: 16px;
    max-width: 300px;
}

.tabela_de_vendas{
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.tabela_de_vendas thead{
    height: 55px;
    font-size: 16px;
    color: #E9E9E9;
    font-weight: 700;
}

.tabela_de_vendas tbody{
    font-size: 14px;
    color: #CFCFCF;
    font-weight: 400;
    text-align: center;
}

.tabela_de_vendas tr{
    height: 74px;
    border-top: 1px solid #5F6E82;
}

.tabela_de_vendas tbody tr:nth-child(odd){
    background-color: #242C3B;
}

.tabela_de_vendas tbody tr:hover > td{
    background-color: #384459;
}

.btn_not{
    width: 45px;
    height: 45px;
    background: rgba(255, 107, 114, 0.1);
    border: 1px solid #FF6B72;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn_not img{
    width: 19px;
}

.btn_not_container{
    display: flex;
    justify-content: center;
}

.aparecer_576{
    display: none;
}

@media (min-width: 576px){
    .aparecer_576{
        display: table-cell;
    }

    .cartão{
        padding: 35px;
    }

    .tabela_de_vendas tr{
        height: 55px;
    }

    .tabela_de_vendas tbody{
        font-size: 18px;
    }
}

.aparecer_992{
    display: none;
}

@media (min-width: 992px){
    .aparecer_992{
        display: table-cell;
    }
}